.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 25px;
}

.container label {
  font-size: 18px;
  font-weight: bold;
}
.search {
  padding: 2px 16px;
  font-size: 18px;
}
